.content {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 790px;
  margin: 100px auto 50px;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-auto-rows: 450px;
  row-gap: 40px;
  column-gap: 90px;
}
