.header {
  height: 60vh;
  max-width: 100%;
  background-color: #eee;
  background-image: url("../images/HeaderBackground.jpg");
  background-size: cover;
  background-position: cover;
  text-align: center;
}

.header-title {
  font-family: "Permanent Marker", cursive;
  font-size: 140px;
  line-height: 140px;
  color: white;
  text-transform: uppercase;
  max-width: 1240px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .header-title {
    font-size: 70px;
  }
}
