.projects {
  width: 100%;
  background-image: url("../images/grass-background.jpg");
  background-size: cover;
}

.projects__link {
  color: rgba(0, 132, 255, 1);
}

.projects__link:hover {
  color: green;
}
